body{
    height: 100vh;
    width: 100%;
    background-color: rgb(210, 8, 166);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    height: 400px;
    width: 100px;
    position: relative;
    display: flex;
    justify-content: center;

}
.ball{
    width: 100px;
    height: 100px;
    background-color:rgb(69, 214, 105);
    border-radius: 50%;
    top: 0;
    position: absolute;
    box-shadow: inset 0 -10px 30px rgb(86, 59, 224);
    animation: bounce 0.7s cubic-bezier(0.49, 0, 0.89, 0.74)infinite alternate;
}
.shadow{
    top: 400px;
    height: 20px;
    width: 100px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 10px black;
    animation: floorshadow 0.7s cubic-bezier(0.49, 0, 0.89, 0.74)infinite alternate;


}
@keyframes bounce {
    0%{
transform: translateY(0px);
height: 100px;
width: 100px;
    }
    75%{
        height: 100px;
        width: 100px;
    }
    90%{
        height: 100px;
        width:100px;
    }
    100%{
transform: translateY(320px);
height: 100px;
        width: 100px;
    }
}
@keyframes floorshadow {
    0%{
opacity: 0.1;
width: 110px;
height: 20px;
    }
    
    80%{
        height: 15px;
        width:90px;
        opacity: 0.4;
    }
    100%{

opacity: 0;
width: 80px;
height: 10px;
    }
}